# VBA-M Directories
src/wx/builtin-over.h
src/wx/builtin-xrc.h
src/wx/cmd-evtable.h
src/wx/cmdhandlers.h
src/wx/cmdtab.cpp
src/wx/wxvbam.xrs
build/*
build32/*
vsbuild/*
cmake-build*
dependencies/*
vcpkg/*

# MZE Directories:
msbuild-debug/*
msbuild-release/*
out/*

.vs/*
*.o
*.so
*.dll
*.exe

# vim swap files
*.sw?
*.un~

# mac finder crap
*.DS_Store


dependencies
